<div class="form-group">
  <label for="title"><h1>Title</h1></label>
  <input required value="<%= article.title %>" type="text" name="title" id="title" class="form-control">
  <input type="image" class="btn btn-secondary" src="https://previews.123rf.com/images/sarahdesign/sarahdesign1410/sarahdesign141003026/32958756-submit-button.jpg" alt="Submit" width="100" height="88">

</div>
<div class="form-group">
  <label for="description"><h1>Description</h1></label>
  <textarea name="description" id="description" class="form-control" style="height:30%;"><%= article.description %></textarea>
  <a href="https://ibb.co/bR2GC3K"><img src="https://i.ibb.co/CsMSYtH/Screenshot-2021-11-28-at-1-51-03-PM.png" alt="connect to internet" border="0"></a>
  
</div>
<div class="form-group">
  <label for="markdown"><h1>Markdown</h1></label>
  <textarea required name="markdown" id="markdown" class="form-control"><%= article.markdown %></textarea>
  <a href="https://ibb.co/R7Nr6qd"><img src="https://i.ibb.co/SJcYmzG/Screenshot-2021-11-28-at-2-02-54-PM.png" alt="connect to internet" border="0"></a>
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<input type="image" class="btn btn-secondary" src="https://previews.123rf.com/images/sarahdesign/sarahdesign1410/sarahdesign141003026/32958756-submit-button.jpg" alt="Submit" width="100" height="88">
